# Node modules
node_modules/
**/node_modules/

# Android build files
**/android/.gradle/
**/android/app/build/
**/android/build/
**/android/.idea/
**/android/*.iml

# iOS build files
**/ios/build/
**/ios/Pods/
**/ios/**/*.xcworkspace
**/ios/**/*.xcuserdata

# Backend
backend/dist/
backend/.env

# Env files
.env
.env.*

# Logs
*.log

# Metro cache
*.timestamp*

# Misc
.DS_Store
*.p12
*.key
*.mobileprovision
